/* 切换按钮 */
    /* 上一个 */
.slider {
  
}

.osSlider-main .slider-btn-prev {
    position: absolute;
    z-index: 30;
    top: 50%;
    left: -45px;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    margin-top: -20px;
    background: url(../images/left.png) 50% 50% no-repeat;
    transition: all .5s linear;
}

.osSlider-main:hover .slider-btn-prev {
    left: 5px;
}
    /* 下一个 */
.osSlider-main .slider-btn-next {
    position: absolute;
    z-index: 30;
    top: 50%;
    right: -45px;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    margin-top: -20px;
    background: url(../images/right.png) 50% 50% no-repeat;
    transition: all .5s linear;
}

.osSlider-main:hover .slider-btn-next {
    right: 5px;
}

/* 高亮导航部分 */
